#footer-main {
  color: $white;
  background: $color-bg-primary;
}
.footer-company {

  .slogan {
    display: block;
    margin-top: 14px;
    font-size: 16px;
    line-height: 100%;
    font-weight: $font-semi;
  }
}
.footer-legal {
  margin-top: 30px;
  color: rgba(255,255,255,0.6);
  font-size: 12px;
  line-height: 100%;
}
