// Font weights
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;

// Base font
$font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-weight: $font-regular;
$font-size: 16px;
$line-height: 100%;

// Basic colors
$white:         #FFFFFF;
$black:         #000000;

// Main brand color
$color-brand:   #18FF6D;

// Main text color
$color-primary: #0D1115;

// Background colors
$color-bg-primary:  #0B0F13;
$color-bg-alt:      #F7F8F8;

$color-border:  #F0F0F2;

$color-green: #53C283;
$color-blue: #1B546A;

$color-green-light: #50B83C;

$color-red-dark: #BF0711;