#footer-main {
  color: $white;
  background: $color-bg-primary;

  .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
  a {
    color: rgba(255,255,255,0.6);
    text-decoration: underline;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }
  .logo-social {
    display: flex;
    align-items: center;

    .slogan {
      flex: 1;
    }
  }
  .social {
    font-size: 120%;

    a {
      color: rgba(255,255,255,1);
      display: inline-block;
      margin-left: 6px;
      text-decoration: none;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
    [class^="icon-"] {
      width: 20px;
      height: 20px;
      display: block;
      margin-left: 2px;
    }
    .icon-discord {
      background: url(../icons/icon-discord.svg) no-repeat 100%/100%;
    }
    .icon-twitter {
      background: url(../icons/icon-twitter.svg) no-repeat 100%/100%;
    }
    .icon-github {
      background: url(../icons/icon-github.svg) no-repeat 100%/100%;
    }
    .icon-email {
      background: url(../icons/icon-email.svg) no-repeat 100%/100%;
    }
  }
  .logo-slogan {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 125+20px;
    float: left;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding-right: 20px;
  }
  .logo-text {
    float: left;
    margin-left: 20px;
    font-size: 15px;
    line-height: 120%;
    font-weight: $font-semi;
    position: relative;
    top: 2px;
  }
  .company-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px dashed rgba(255,255,255,0.2);

    p {
      line-height: 140%;
      color: rgba(255,255,255,0.6);

      strong {
        color: rgba(255,255,255,1);
      }
    }
    .info {
      flex: 1;
    }
    .legal {
      font-size: 90%;
      
      a {
        margin-left: 14px;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 650px) {
    .logo-social {
      text-align: center;
      flex-direction: column;
    }
    .slogan {
      display: block;
      width: 100%;
    }
    .logo {
      float: none;
      display: inline-block;
      padding-right: 0;
      border-right: none;
    }
    .logo-text {
      float: none;
      display: block;
      margin-left: 0;
      margin-top: 6px;
      font-size: 13px;
    }
    .social {
      margin-top: 24px;
    }
  }
}
