#marketplace {
  .columns-ecosystem {
    max-width: 860px;
    
    strong {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 120%;
      font-weight: $font-bold;
    }
    p {
      font-size: 16px;
      line-height: 160%;
      color: #6D7073;
    }
  }
  .mailing-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid $color-border;
    
    p {
      margin-bottom: 26px;
      font-size: 120%;
    }
    .button {
      margin-left: 20px;
      margin-top: 0;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .input {
      flex: 1;
    }
  }
  .wrapper-mailing-form {
    padding-bottom: 40px;
    border-bottom: 1px dashed $color-border;
  }
}