.button, button {
  display: inline-block;
  padding: 16px 32px;
  font: 16px/16px $font-family;
  line-height: 12px;
  font-weight: $font-semi;
  color: $color-primary;
  background: $color-brand;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
